.title {
    font-size: 50px;
    margin: 0;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.colorX {
    align-items: center;
    grid-row: 3;
}

select {
    cursor: pointer;;
}

.container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 7fr 1fr;
    gap: 0.5em;
}

.title {
    grid-column: 2;
}

.text {
    grid-column: 2;
}

.board {
    display: grid;
    grid-column: 2;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    gap: 2px;
    padding: 2px;
    background-color: black;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border: 1px solid gray;
    cursor: pointer;
    background-color: beige;
}

.cell:hover {
    background-color: bisque;
}

.resetBtn {
    font-size: 1.3em;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 1em;
    background-color: lightblue;
    font-weight: bold;
    margin: auto;
}

.resetBtn:hover {
    background-color: rgb(173, 209, 230);
}